<div class="row contact-page">
    <div class="pic"></div>
    <div class="contact-wrap">
        <div class="contact-data">
            <h2>Alona Shot</h2>
            <div class="email">
                <span>Email: alona.shot@gmail.com</span>
            </div>
            <div class="phone">
                <span>Phone: 054-5517580</span>
            </div>
        </div>
        <div class="contact-form">
                <h2>Say hello :)</h2>
            <form id="contact-form" method="POST" class="form-wrap" name="frm" action="http://formspree.io/alona.shot@gmail.com">
                <div class="name-wrap">
                    <label for="fname">Name</label>
                    <input class="form-control" name="name" type="text" id="fname" ng-model="user.name" required/>
                </div>
                <div class="email-wrap">
                    <label for="email">Email</label>
                    <input class="form-control" name="_replyto"  type="email" id="email" ng-model="user.email" required/>
                </div>
                <div class="subject-wrap">
                    <label for="subject">Subject</label>
                    <input class="form-control" name="_subject" type="text" id="subject" ng-model="user.subject" required/>
                </div>
                <div class="message-wrap">
                    <label for="message">Message</label>
                    <textarea rows="4" class="form-control" name="message" id="message" ng-model="user.message" required></textarea>
                </div>
                <input type="hidden" name="_next" value="http://alonashot.ml/"/>
                <input type="hidden" name="_format" value="plain"/>
                <input type="text" name="_gotcha" style="display:none"/>
                <input type="submit" value="Send" class="btn btn-default submit-btn" id="submit" ng-disabled="frm.$invalid"/>
            </form>
        </div>
    </div>
</div>
<div class="scroll"></div>
