<div class="portfolio-page">
    <div class="portfolio-wrap">
        <div class="lps">
            <h2>Landing Pages</h2>
            <div class="lps-links">
                <div class="proj-box blaz-robar">
                    <div class="proj-wrap"></div>
                    <h3 class="proj-name">BlazRobar LP</h3>
                    <div class="content-wrap">
                        <div class="proj-description">
                            <span class="about-proj">
                                By cutting images, using the backgrounds I created a beautiful responsive Landing Page.
                            </span>
                        </div>
                        <div class="tec-using">
                            Using PSD from internet, Photoshop, HTML, CSS and JavaScript.
                        </div>
                        <div class="proj-btn">
                            <a href="blaz_pabar/" target="_blank">View project</a>
                        </div>
                    </div>
                </div>
                <div class="proj-box neto-trade">
                    <div class="proj-wrap"></div>
                    <h3 class="proj-name">Neto Trade LP</h3>
                    <div class="content-wrap">
                        <div class="proj-description">
                            <span class="about-proj">
                                Responsive Landing Page with fade in icons and a sign up form.
                                <p>Came On push the GET STARTED button! Don't forget to fill the fields to see the magic!!!</p>
                            </span>
                        </div>
                        <div class="tec-using">
                            Using HTML, CSS and JavaScript.
                        </div>
                        <div class="proj-btn">
                            <a href="neto_trade_lp/" target="_blank">View project</a>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div ng-if="containers.moreLpContainerShow">
                    <div class="proj-box bakery">
                        <div class="proj-wrap"></div>
                        <h3 class="proj-name">Pink Bakery LP</h3>
                        <div class="content-wrap">
                            <div class="proj-description">
                            <span class="about-proj">
                                By cutting images, using the backgrounds and fonts I created a beautiful Landing Page.
                            </span>
                            </div>
                            <div class="tec-using">
                                Using PSD from internet, Photoshop, HTML and CSS.
                            </div>
                            <div class="proj-btn">
                                <a href="bakery_lp/" target="_blank">View project</a>
                            </div>
                        </div>
                    </div>
                    <div class="proj-box phone-lp">
                        <div class="proj-wrap"></div>
                        <h3 class="proj-name">Phones LP</h3>
                        <div class="content-wrap">
                            <div class="proj-description">
                                <span class="about-proj">
                                    By cutting images, using the backgrounds and fonts I created a beautiful Landing Page.
                                </span>
                            </div>
                            <div class="tec-using">
                                Using PSD from internet, Photoshop, HTML and CSS.
                            </div>
                            <div class="proj-btn">
                                <a href="big_lp/" target="_blank">View project</a>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="proj-box corporatix">
                        <div class="proj-wrap"></div>
                        <h3 class="proj-name">Corporatix LP</h3>
                        <div class="content-wrap">
                            <div class="proj-description">
                                <span class="about-proj">
                                    By cutting images, using the backgrounds and fonts I created a beautiful page.
                                </span>
                            </div>
                            <div class="tec-using">
                                Using PSD from internet, Photoshop, HTML and CSS.
                            </div>
                            <div class="proj-btn">
                                <a href="corporatix_lp/" target="_blank">View project</a>
                            </div>
                        </div>
                    </div>
                    <div class="proj-box cuda">
                        <div class="proj-wrap"></div>
                        <h3 class="proj-name">Cuda LP</h3>
                        <div class="content-wrap">
                            <div class="proj-description">
                                <span class="about-proj">
                                    By cutting images, using the backgrounds and fonts I created a beautiful Landing Page.
                                </span>
                            </div>
                            <div class="tec-using">
                                Using PSD from internet, Photoshop, HTML and CSS.
                            </div>
                            <div class="proj-btn">
                                <a href="cuda_lp/" target="_blank">View project</a>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="proj-box satari">
                        <div class="proj-wrap"></div>
                        <h3 class="proj-name">Safari LP</h3>
                        <div class="content-wrap">
                            <div class="proj-description">
                                <span class="about-proj">
                                    By cutting images, using the backgrounds and fonts I created a beautiful Landing Page.
                                </span>
                            </div>
                            <div class="tec-using">
                                Using Photoshop, HTML and CSS.
                            </div>
                            <div class="proj-btn">
                                <a href="safari_lp/" target="_blank">View project</a>
                            </div>
                        </div>
                    </div>
                    <div class="proj-box ebook">
                        <div class="proj-wrap"></div>
                        <h3 class="proj-name">Ebook LP</h3>
                        <div class="content-wrap">
                            <div class="proj-description">
                                <span class="about-proj">
                                    By cutting images, using the backgrounds and fonts I created a beautiful Landing Page.
                                </span>
                            </div>
                            <div class="tec-using">
                                Using PSD from internet, Photoshop, HTML and CSS.
                            </div>
                            <div class="proj-btn">
                                <a href="simple-lp/" target="_blank">View project</a>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class=" more-btn" id="btn-lp"><a href="" ng-click="showMore('moreLpContainerShow')">More </a></div>
            </div>
        </div>
        <div class="other">
            <h2>Apps, Animations and Features</h2>
            <div class="other-links">
                <div class="proj-box to-do">
                    <div class="proj-wrap"></div>
                    <h3 class="proj-name">To Do List</h3>
                    <div class="content-wrap">
                        <div class="proj-description">
                            <span class="about-proj">
                                <p>You have a many tasks to do?</p>
                                <p>You always forget them?</p>
                                <p>Use To Do List to help you remember!!!</p>
                                <p>Add, Remove and check the tasks Done.</p>
                            </span>
                        </div>
                        <div class="tec-using">
                            Using HTML, CSS, JavaScript<br> I also used Local Storage.
                        </div>
                        <div class="proj-btn">
                            <a href="js_to_do_list/" target="_blank">View project</a>
                        </div>
                    </div>
                </div>
                <div class="proj-box css-animation">
                    <div class="proj-wrap"></div>
                    <h3 class="proj-name">Simple Css Animation</h3>
                    <div class="content-wrap">
                        <div class="proj-description">
                            <span class="about-proj">
                                7 Colorful bolls moving around in a beautiful way.
                            </span>
                        </div>
                        <div class="tec-using">
                            Using HTML, CSS and CSS animation.
                        </div>
                        <div class="proj-btn">
                            <a href="css_animation1/" target="_blank">View project</a>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div ng-if="containers.moreOtherShow">
                    <div class="proj-box speedometer">
                        <div class="proj-wrap"></div>
                        <h3 class="proj-name">Speedometer</h3>
                        <div class="content-wrap">
                            <div class="proj-description">
                                <span class="about-proj">
                                    Speedometer simulator, first time run fails, counting to 3 and the second run succeed.
                                </span>
                            </div>
                            <div class="tec-using">
                                Using HTML, CSS, JavaScript and jQuery plugin for the speedometer look a like and functional.
                            </div>
                            <div class="proj-btn">
                                <a href="speedometer/" target="_blank">View project</a>
                            </div>
                        </div>
                    </div>
                    <div class="proj-box animals-gallery">
                        <div class="proj-wrap"></div>
                        <h3 class="proj-name">Animals Gallery</h3>
                        <div class="content-wrap">
                            <div class="proj-description">
                                <span class="about-proj">
                                    Simple jQuery gallery with cute baby animals.
                                </span>
                            </div>
                            <div class="tec-using">
                                Using HTML, CSS, CSS Animation, JavaScript and jQuery plugin.
                            </div>
                            <div class="proj-btn">
                                <a href="lightbox-gallery/" target="_blank">View project</a>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="more-btn" id="btn-other"><a href="" ng-click="showMore('moreOtherShow')">More </a></div>
            </div>
        </div>
        <div class="games">
            <h2>Games</h2>
            <div class="game-links">
                <div class="proj-box tic_tac">
                    <div class="proj-wrap"></div>
                        <h3 class="proj-name">Tic Tac Toe Game</h3>
                        <div class="content-wrap">
                            <div class="proj-description">
                            <span class="about-proj">
                                Have fun with your friends and play a classic game of Tic Tac Toe in two players mode (winner alert).
                            </span>
                            </div>
                            <div class="tec-using">
                                Using HTML, CSS and JavaScript.
                            </div>
                            <div class="proj-btn">
                                <a href="tic_tac_toe-game/" target="_blank">View project</a>
                            </div>
                        </div>
                </div>
                <div class="proj-box maze">
                    <div class="proj-wrap"></div>
                    <h3 class="proj-name">Maze Game</h3>
                    <div class="content-wrap">
                        <div class="proj-description">
                            <span class="about-proj">
                                Move your player (green square) towards the end of the maze (red square) with arrow keys on your keyboard
                                in the shortest time. Have fun!!!
                            </span>
                        </div>
                        <div class="tec-using">
                            Using HTML, CSS and JavaScript.
                        </div>
                        <div class="proj-btn">
                            <a href="maze_game/" target="_blank">View project</a>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

    </div>
</div>
<div class="scroll"></div>